<header class="o-header">
  <div class="o-header__inner">
  
    <a class="o-header__logo" href="{{site.url}}" rel="home" aria-label="{{ site.name }}" title="{{ site.name }}">
      <img src="{{ theme.path }}/dist/img/logo.png" alt="{{ site.name }}" />
    </a>

    <nav class="m-nav m-nav--main" role="navigation">
      {% include "/molecules/menu.twig" with {'items': mainnav.get_items} %}
    </nav>
    
    <button class="a-nav-toggle" title="Toggle Nav" aria-label="Toggle menu">
      <span class="a-nav-toggle__line a-nav-toggle__line-1"></span>
      <span class="a-nav-toggle__line a-nav-toggle__line-2"></span>
      <span class="a-nav-toggle__line a-nav-toggle__line-3"></span>
    </button>

  </div>
</header>
