{% if posts.pagination.pages is not empty %}
  <nav class="m-pagination">

    {# Previous #}
    {% if posts.pagination.prev %}
      <a href="{{ posts.pagination.prev.link }}" aria-label="Previous page" class="m-pagination__link m-pagination__link-nextprev">Next</a>
    {# {% else %}
      <button disabled>Previous</button> #}
    {% endif %}

    {# Pages #}
    {% for page in posts.pagination.pages %}
      {% if page.link %}
        <a href="{{ page.link }}" class="{{ page.class }} m-pagination__link">{{ page.title }}</a>
      {% else %}
        <span class="{{ page.class }} m-pagination__link m-pagination__link-current">{{ page.title }}</span>
      {% endif %}
    {% endfor %}

    {# Next #}
    {% if posts.pagination.next %}
      <a href="{{ posts.pagination.next.link }}" aria-label="Next page" class="m-pagination__link m-pagination__link-nextprev">Previous</a>
    {# {% else %}
      <button disabled>Next</button> #}
    {% endif %}

  </nav>
{% endif %}
