{% if options.explore_title and options.explore_button %}
  <section class="m-members-signpost">

    {% if options.explore_background_image %}
      <figure class="m-members-signpost__background">
        <picture>
          <source media="(max-width: 600px)" data-srcset="{{ Image(options.explore_background_image).src|resize('768') }} 1x, {{ Image(options.explore_background_image).src|resize('1000') }} 2x" type="image/jpeg">
          <source media="(max-width: 1000px)" data-srcset="{{ Image(options.explore_background_image).src|resize('1000') }}" type="image/jpeg">
          <img 
            {% if is_preview %}
              src="{{ Image(options.explore_background_image).src|resize('1920','1000') }}"
            {% else %}
              data-src="{{ Image(options.explore_background_image).src|resize('1920','850') }}"
              class="lazy m-signpost__bgimg"
            {% endif %}
            alt="{{ options.explore_background_image.alt }}"
          />
        </picture>
      </figure>
    {% endif %}

    <h2>{{ options.explore_title }}</h2>

    {{ options.explore_copy }}
  
    <div class="grid justify-center">
      <div class="col-sm-10">
        <div class="m-members-signpost__map" id="map"></div>
      </div>
    </div>    

    {% include "/atoms/button.twig" with {
      button: options.explore_button,
      classes: [
        'a-btn--white'
      ]
    } %}     
  
  </section>    
{% endif %}
