<div class="m-signpost {% if full %}m-signpost--full{% else %}m-signpost--mini{% endif %} {% if content.image %}m-signpost--img{% endif %}">

  {% if content.image %}
    <picture>
      <source media="(max-width: 600px)" data-srcset="{{ Image(content.image).src|resize('768') }} 1x, {{ Image(content.image).src|resize('1000') }} 2x" type="image/jpeg">
      <source media="(max-width: 1000px)" data-srcset="{{ Image(content.image).src|resize('1000') }}" type="image/jpeg">
      <img 
        {% if is_preview %}
          src="{{ Image(content.image).src|resize('1920','1000') }}"
        {% else %}
          data-src="{{ Image(content.image).src|resize('1920','850') }}"
          class="lazy m-signpost__bgimg"
        {% endif %}
        alt="{{ content.image.alt }}"
      />
    </picture>
  {% endif %}

  {% if full %}
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-signpost__inner">
  {% endif %}
  

  <div class="m-signpost__content">
    <h2 {% if full and not content.inlineImage %}class="h1"{% endif %}>{{ content.title }}</h2>

    {% if content.copy %}
      {{ content.copy }}
    {% endif %}

    <div class="m-signpost__links">
      {% if full and not content.image %}
        {% set btnClass = 'a-btn' %}
      {% else %}
        {% set btnClass = 'a-btn--white' %}
      {% endif %}

      {% if content.button %}
        {% include "/atoms/button.twig" with {
          button: content.button,
          classes: [
            btnClass
          ]
        } %}
      {% endif %}

      {% if content.links %}
        {% for link in content.links %}
          {% include "/atoms/button.twig" with {
            button: link.link,
          } %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% if content.inlineImage %}
    <img 
      {% if is_preview %}
        src="{{ Image(content.inlineImage).src|resize('769','401') }}"
      {% else %}
        data-src="{{ Image(content.inlineImage).src|resize('769','401') }}"
        class="lazy"
      {% endif %}
      alt="{{ content.inlineImage.alt }}"
    />   
  {% endif %}
  
  {% if full %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.imageCaption %}
    {% include "/atoms/image-credit.twig" with {
      credit: content.imageCaption
    } %}
  {% endif %}

</div>