{% extends "/layout/base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}" data-template="single.twig">

    {% include "/molecules/banner-alt.twig" %}

    <section class="o-page {% if not post.thumbnail.src %}o-page--noimg{% endif %}">
      
      {% for block in blocks %}
        {{ block }}
      {% endfor %}

      <div class="m-post-info">
        <strong>Posted: {{ post.post_date|date('l, F jS, Y') }}</strong>
        
        <div class="m-post-info__categories">
          <strong>Tagged with:</strong>

          {% for category in post.terms('category') %}
            <a href="/stories?categories={{ category.id }}" class="a-btn--sm">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
    
      <aside class="o-page__col o-page__right">
        <h3>Latest stories</h3>

        <div class="m-latest-posts">
          {% for latestpost in latestPosts %}
            <a href="{{ latestpost.link }}">
              {{ latestpost.title }}
            </a>
          {% endfor %}
        </div>

        {% include "/atoms/button.twig" with {
          button: {
            url: '/stories',
            title: 'See all stories'
          },
          classes: [
            'a-btn'
          ]
        } %}
      </aside>
    </section>

    {% include "/molecules/related.twig" %}
    
	</article>
{% endblock %}
